/*
 *  User:   Leon Klerkx
 *  Date:   19-2-2020
 *  Time:   14:45 uur
 *  File:   footer.css
 */

/*Footer aan de onderkant van de pagina en tekst centreren*/
footer
{
    position: absolute;
    bottom: 0px;
    left: 50%;
}