/*
 *  User:   Leon Klerkx
 *  Date:   16-2-2020
 *  Time:   18:20 uur
 *  File:   opdracht_3.2.css
 */

/*Body margin verwijderen*/
body
{
    margin: 0px;
    background-color: #90EE90;
}
/*Titel rechts centreren en achtergrondkleur instellen*/
header>h1
{
    text-align: center;
    background-color: #FFA500;
    margin: 0px;
    padding: 20px 20px 20px 0px;
}
/*Menudeel achtergrondkleur geven en breedte geven*/
aside
{
    display: inline-block;
    /*background-color: #F4F4DB;*/
    background-color: #ADD8E6;
    height: 60%;
    /*width: 40%;*/
    width: 25%;
    padding: 40px 0px 0px 20px;
}
/*Titel 'Menu' marge bovenkant verwijderen zodat het aan elkaar komt te staan*/
aside>h2
{
    margin-top: 0px;
}
/*Links niet onderstreept en kleur geven*/
li>a
{
    text-decoration: none;
    color: #0000FF;
}
/*Links onderstreept als je eroverheen gaat*/
li>a:hover
{
    text-decoration: underline;
}
/*Tekst onder het menu van de kantlijn af*/
#wrapper
{
    display: inline-block;
    padding-left: 5px;
}
/*Tekst nieuwe opdracht van de zijkant van het scherm af*/
#wrapper+h1, p
{
    /*padding-left: 5px;*/
    position: absolute;
    top: 30%;
    width: 60%;
}
/*Titel 'Uitwerkingen' naast menu zetten*/
#wrapper>h2
{
    display: inline-block;
    position: absolute;
    top: 20%;
}
/*Verhaal2 onder verhaal1 zetten*/
#verhaal2
{
    position: absolute;
    top: 50%;
}